
/* LAYOUT */

.container {
    width: 960px;
    margin: 0 auto;
    padding: 80px 20px;
    background: #fff;
}
.column-2 {
    width: 470px;
    float: left;
}

/* 3D */
/* .node-3d-container {
    -webkit-perspective: 400px;
    -webkit-perspective-origin: 50% 50%
    }

.node-3d-block {
    position: relative;
    width: 100%;
    height: 100%;
    -moz-transform: rotatex(90deg);
    -ms-transform: rotatex(90deg);
    -o-transform: rotatex(90deg);
    -webkit-transform: rotatex(90deg);
    transform: rotatex(90deg);
    transform-style: preserve-3d;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease
    }

.visible-3d .node-3d-block {
    -moz-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    -o-transform: rotatex(0deg);
    -webkit-transform: rotatex(0deg);
    transform: rotatex(0deg)
    }

.node-3d-block-face {
    position: absolute;
    left: 10px;
    top: 0px;
    }

.node-3d-block-face-1 {
    -moz-transform:         translatez(0px);
    -ms-transform:          translatez(0px);
    -o-transform:           translatez(0px);
    -webkit-transform:      translatez(0px);
    transform:              translatez(0px)
    }

.node-3d-block-face-2 {
    -moz-transform:         translatez(-5px);
    -ms-transform:          translatez(-5px);
    -o-transform:           translatez(-5px);
    -webkit-transform:      translatez(-5px);
    transform:              translatez(-5px)
    }

.node-3d-block-face-3 {
    -moz-transform:         translatez(-10px);
    -ms-transform:          translatez(-10px);
    -o-transform:           translatez(-10px);
    -webkit-transform:      translatez(-10px);
    transform:              translatez(-10px)
    }

.node-3d-block-face-4 {
    -moz-transform:         translatez(-15px);
    -ms-transform:          translatez(-15px);
    -o-transform:           translatez(-15px);
    -webkit-transform:      translatez(-15px);
    transform:              translatez(-15px)
    }

.node-3d-block-face-5 {
    -moz-transform:         translatez(-20px);
    -ms-transform:          translatez(-20px);
    -o-transform:           translatez(-20px);
    -webkit-transform:      translatez(-20px);
    transform:              translatez(-20px)
    }

.node-3d-block-face-6 {
    -moz-transform: translatez(-12px);
    -ms-transform: translatez(-12px);
    -o-transform: translatez(-12px);
    -webkit-transform: translatez(-12px);
    transform: translatez(-12px)
    }

.node-3d-block-face-7 {
    -moz-transform: translatez(-14px);
    -ms-transform: translatez(-14px);
    -o-transform: translatez(-14px);
    -webkit-transform: translatez(-14px);
    transform: translatez(-14px)
    }

.node-3d-block-face-8 {
    -moz-transform: translatez(-16px);
    -ms-transform: translatez(-16px);
    -o-transform: translatez(-16px);
    -webkit-transform: translatez(-16px);
    transform: translatez(-16px)
    }

.node-3d-block-face-9 {
    -moz-transform: translatez(-18px);
    -ms-transform: translatez(-18px);
    -o-transform: translatez(-18px);
    -webkit-transform: translatez(-18px);
    transform: translatez(-18px)
    }

.node-3d-block-face-10 {
    -moz-transform: translatez(-20px);
    -ms-transform: translatez(-20px);
    -o-transform: translatez(-20px);
    -webkit-transform: translatez(-20px);
    transform: translatez(-20px)
    }

.node-3d-block-face-11 {
    -moz-transform: translatez(-22px);
    -ms-transform: translatez(-22px);
    -o-transform: translatez(-22px);
    -webkit-transform: translatez(-22px);
    transform: translatez(-22px)
    }

.node-3d-block-face-12 {
    -moz-transform: translatez(-24px);
    -ms-transform: translatez(-24px);
    -o-transform: translatez(-24px);
    -webkit-transform: translatez(-24px);
    transform: translatez(-24px)
    }

.node-3d-block-face-13 {
    -moz-transform: translatez(-26px);
    -ms-transform: translatez(-26px);
    -o-transform: translatez(-26px);
    -webkit-transform: translatez(-26px);
    transform: translatez(-26px)
    }

.node-3d-block-face-14 {
    -moz-transform: translatez(-28px);
    -ms-transform: translatez(-28px);
    -o-transform: translatez(-28px);
    -webkit-transform: translatez(-28px);
    transform: translatez(-28px)
    }

.node-3d-block-face-15 {
    -moz-transform: translatez(-30px);
    -ms-transform: translatez(-30px);
    -o-transform: translatez(-30px);
    -webkit-transform: translatez(-30px);
    transform: translatez(-30px)
    } */
